<div layout="row" layout-align="center center" class="editor-custom">
    <div layout-fill layout="row">

        <div flex="25"></div>

        <div layout="column" flex="50">

            <form name="form" role="form">

                <div layout="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Name</label>
                        <input type="text" ng-model="edit.content.name" ng-change="edit.updateArticleId(edit.content.name | removeSpaces)" />
                    </md-input-container>
                    <md-input-container>
                        <label>Publish date</label>
                        <md-datepicker ng-model="edit.content.publishDate" md-open-on-focus></md-datepicker>
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Headline</label>
                        <input type="text" ng-model="edit.content.headline" />
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container class="md-block textarea-container" flex-gt-sm>
                        <label ng-show="edit.content.body">Body</label>
                        <text-angular ng-model="edit.content.body"></text-angular>
                    </md-input-container>
                </div>

                <div layout="row" layout-align="end center">
                    <md-button ng-click="edit.fileUpload($event)">New File</md-button>
                    <md-button ui-sref="app.view({ id: edit.content.id })" 
                               ng-click="edit.contentService.set(edit.content)" 
                               ng-disabled="!form.$dirty">Save
                    </md-button>
                    <md-button ng-if="!edit.isNewId" ui-sref="app.view({ id: edit.content.id })">Cancel</md-button> <!-- edit cancel button -->
                    <md-button ng-if="edit.isNewId" ui-sref="app.list">Cancel</md-button> <!-- new cancel button -->
                </div>

            </form>

        </div>

        <div flex="25"></div>

    </div>
</div>